{{ define "main" }}
<section class="tax-terms container">
  <h1 class="tax-ttl">{{ .Title }}</h1>

  {{ if not .Data.Terms }}
    <p>Nessun termine disponibile.</p>
  {{ else }}
    <ul class="tax-terms__list">
      {{ range .Data.Terms.Alphabetical }}
        <li class="tax-terms__item">
          <a class="tax-terms__link" href="{{ .Page.RelPermalink }}">{{ .LinkTitle }}</a>
          <small class="tax-terms__count">({{ .Count }})</small>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</section>
{{ end }}
